.container {
  margin: 12rem auto 0;
  padding: 0;
  color: #FCF3E3;
  font-size: 2rem;
  font-size: 26px;
}

.container p {
  margin: 1.5rem;
  text-align: center;
}

.text {
  text-align: center;
  padding-bottom: 26px;
  font-size: 1.2rem;
  text-transform: lowercase;
  letter-spacing: 3px;
}

.container a {
  text-decoration: none;
  font-weight: 700;
  letter-spacing: 2px;
  color: #fde1b7;
}

.container a:hover {
  color: #fcd08f;
  letter-spacing: 3px;
}

@media screen and (max-width: 1000px) {
  .mainText {
    margin: 12rem 1rem 0 0;
    padding: 0;
    color: #FCF3E3;
    text-align: center;
    font-size: 1.5rem;
  }
  
  .mainText a {
    text-decoration: none;
    font-weight: 700;
    color: #fcd08f;
  }
  
  .mainTextTwo {
    margin: 0 1rem;
    padding: 0;
    color: #FCF3E3;
    font-size: 1.5rem;
    text-align: center;
  }
  
  .mainTextTwo a {
    text-decoration: none;
    font-weight: 700;
    color: #fcd08f;
  }
}