.mainText {
  margin: 10rem auto 0;
  padding: 0;
  color: #FCF3E3;
}

.mainText a {
  text-decoration: none;
  font-weight: 700;
  color: #fcd08f;
}

.mainTextTwo {
  margin: 0 auto;
  padding: 0;
  color: #FCF3E3;
}

.mainTextTwo a {
  text-decoration: none;
  font-weight: 700;
  color: #fcd08f;
}

@media screen and (max-width: 1000px) {
  .mainText {
    margin: 7rem auto 0;
    padding: 0;
    color: #FCF3E3;
    text-align: center;
  }
  
  .mainText a {
    text-decoration: none;
    font-weight: 700;
    color: #fcd08f;
  }
  
  .mainTextTwo {
    margin: 0 auto;
    padding: 0;
    color: #FCF3E3;
  }
  
  .mainTextTwo a {
    text-decoration: none;
    font-weight: 700;
    color: #fcd08f;
  }
}